RewriteEngine On
RewriteBase /
Options +FollowSymLinks
php_flag display_errors on
php_flag allow_url_fopen off

#RewriteCond %{ENV:HTTPS} on
#RewriteRule .* - [E=SSL:s]
#RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
#RewriteRule ^(.*)$ http%{ENV:SSL}://%1/$1 [R=301,L]

#RewriteCond %{HTTPS} off
#RewriteCond %{REQUEST_URI} !^/bitrix/admin/1c_exchange\.php$ [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
#RewriteCond %{REQUEST_METHOD} =GET
#RewriteRule ^(.*)$ %1/ [R=301,L]

#RewriteCond %{THE_REQUEST} //
#RewriteCond %{QUERY_STRING} !http(s|)://
#RewriteRule .* /$0 [R=301,L]

#RewriteCond %{REQUEST_URI} \..+$
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteCond %{REQUEST_URI} ^(.+)/$
#RewriteRule ^(.+)/$ /$1 [R=301,L]

# Компрессия отключено на время разработки
#<IfModule mod_deflate.c>
#  AddType image/svg+xml .svg
#  AddOutputFilterByType DEFLATE image/svg+xml
#  AddOutputFilterByType DEFLATE application/rss+xml
#  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
#  AddOutputFilterByType DEFLATE application/x-font
#  AddOutputFilterByType DEFLATE application/x-font-opentype
#  AddOutputFilterByType DEFLATE application/x-font-otf
#  AddOutputFilterByType DEFLATE application/x-font-truetype
#  AddOutputFilterByType DEFLATE application/x-font-ttf
#  AddOutputFilterByType DEFLATE application/x-javascript
#  AddOutputFilterByType DEFLATE application/xhtml+xml
#  AddOutputFilterByType DEFLATE application/xml
#  AddOutputFilterByType DEFLATE font/opentype
#  AddOutputFilterByType DEFLATE font/otf
#  AddOutputFilterByType DEFLATE font/ttf
#  AddOutputFilterByType DEFLATE image/svg+xml
#  AddOutputFilterByType DEFLATE image/x-icon
#  AddOutputFilterByType DEFLATE text/css
#  AddOutputFilterByType DEFLATE text/html
#  AddOutputFilterByType DEFLATE text/javascript
#  AddOutputFilterByType DEFLATE text/plain
#  AddOutputFilterByType DEFLATE text/xml
#  AddOutputFilterByType DEFLATE image/svg+xml
#</IfModule>

# Кеширование отключено на время разработки
#<IfModule mod_expires.c>
#  ExpiresActive on
#  ExpiresByType image/jpeg "access plus 1 year"
#  ExpiresByType image/svg "access plus 1 year"
#  ExpiresByType image/gif "access plus 1 year"
#  ExpiresByType image/png "access plus 1 year"
#  ExpiresByType text/javascript "access plus 1 year"
#  ExpiresByType text/css "access plus 1 year"
#  ExpiresByType application/javascript "access plus 1 year"
#  ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
#  ExpiresByType application/x-font-ttf "access plus 1 year"
#  ExpiresByType application/x-font-opentype "access plus 1 year"
#  ExpiresByType application/x-font-woff "access plus 1 year"
#  ExpiresByType image/svg+xml "access plus 1 year"
#</IfModule>
#<IfModule mod_headers.c>
#  <filesmatch "\.(ico|flv|jpg|jpeg|webp|png|gif|css|swf|woff|pdf)$">
#    Header set Cache-Control "max-age=31536000, public"
#  </filesmatch>
#  <filesmatch "\.(html|htm)$">
#    Header set Cache-Control "max-age=7200, private, must-revalidate"
#  </filesmatch>
#  <filesmatch "\.(pdf)$">
#    Header set Cache-Control "max-age=86400, public"
#  </filesmatch>
#  <filesmatch "\.(js|otf|ttf|woff|woff2)$">
#    Header set Cache-Control "max-age=31536000, private"
#  </filesmatch>
#</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\..+$
RewriteCond %{REQUEST_URI} ^(.+)$
RewriteRule ^(.*)$ $1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php