@import url("root.css");

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

/* Text Size */
h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
}

h3, .text--lg {
    font-size: var(--text-lg);
}

h4, .text--md {
    font-size: var(--text-md);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

b, strong {
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    margin-top: var(--space-sm);
}

ul, ol, p {
    margin-bottom: var(--space-md);
}

ul, ol {
    list-style-position: outside;
    padding-left: 24px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul li, ol li {
    line-height: var(--body-line-height);
}

em {
    font-style: italic;
}