.year-calendar {
    position: relative;
    width: fit-content;
    margin: 0 0 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 24px;
}

.day-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}

.day-week li {
    display: flex;
    width: 40px;
    height: 40px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
}

.month-title {
    position: absolute;
    top: -1px;
    left: -24px;
    width: 12px;
    height: 40px;
    padding: 5px;
    word-wrap: anywhere;
    line-height: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-right: 1px solid var(--color-neutral);
    border-bottom: 1px solid var(--color-neutral);
    border-left: 1px solid var(--color-neutral);
    border-radius: 0 0 var(--small-border-radius) var(--small-border-radius);
}

.month-title:after {
    content: "";
    position: absolute;
    right: -10px;
    top: -2px;
    width: 12px;
    height: 12px;
    background: var(--color-white);
}

.month-title:before {
    content: "";
    position: absolute;
    left: -10px;
    top: -2px;
    width: 12px;
    height: 12px;
    background: var(--color-white);
}

.month-calendar {
    position: relative;
    width: 100%;
    display: flex;
    gap: 4px;
    background: var(--color-white);
    padding: 12px 0px;
    border-top: 1px solid var(--color-neutral);
}

.month-calendar:before {
    content: none;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 12px;
    height: 12px;
    border-right: 1px solid var(--color-neutral);
    border-top: 1px solid var(--color-neutral);
    border-radius: 0 var(--small-border-radius) 0 var(--small-border-radius);
    background: var(--color-white);
    z-index: 10;
}

.month-calendar:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 12px;
    height: 12px;
    border-left: 1px solid var(--color-neutral);
    border-top: 1px solid var(--color-neutral);
    border-radius: var(--small-border-radius) 0 var(--small-border-radius) 0;
    background: var(--color-white);
}

.month-calendar:nth-child(n+13):nth-child(-n+16) {
    border-bottom: none;
}

.month-calendar .weeks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.month-calendar .weeks > div {
    display: flex;
    justify-content: space-between;
}

.month-calendar .last-month, .month-calendar .next-month {
    opacity: 0;
    pointer-events: none;
}

.month-calendar .weeks div.day {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--small-border-radius);
    transition: var(--transition-duration);
    border: 1px solid transparent;
}

.month-calendar .weeks div.day:hover {
    border-color: var(--color-secondary);
}

.month-calendar .weeks div.day > span {
    margin: 2px 0 0 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.month-calendar .weeks div.day.active {
    background: #f78536;
    color: var(--color-white);
}

.calendar__table .month-calendar .weeks div.day:not(.last-month, .next-month, .last-day):hover {
    cursor: default;
    font-weight: inherit;
}

.month-calendar .event {
    cursor: pointer;
    position: relative;
}

.month-calendar .event:after {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    left: calc(50% - 1px);
    bottom: 5px;
    background: var(--color-primary);
    border-radius: 50%;
}

@media (max-width: 719px) {
    .day-week:not(:first-child) {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .month-calendar {
        padding: 0px;
    }
}

@media (min-width: 360px) {
    .year-calendar {
        margin: 0 auto;
    }

    .weeks, .day-week {
        padding: 0 12px;
    }
}

@media (min-width: 720px) and (max-width: 1007px) {
    .year-calendar {
        grid-template-columns: repeat(2, 1fr);
    }

    .day-week:not(:nth-child(2n)) {
        display: none;
    }

    .month-calendar:not(:nth-child(2n)):before {
        content: "";
    }
}

@media (min-width: 1008px) and (max-width: 1333px) {
    .year-calendar {
        grid-template-columns: repeat(3, 1fr);
    }

    .day-week:first-child {
        display: none;
    }

    .month-calendar:not(:nth-of-type(3n)):before {
        content: "";
    }
}

@media (min-width: 1334px) {
    .year-calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    .month-calendar:not(:nth-of-type(4n)):before {
        content: "";
    }
}